.technology {
    width: 100%;
}

.technology .container {
    width: 1240px;
    margin: auto;
}

.technology .row-1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.technology h2 {
    font-size: 3rem;
}

.technology p {
    font-style: italic;
    font-size: .9rem;
}

.technology .content {
    padding: 1rem;
    display: block;
    flex-direction: row;
}

.technology .content .row-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.technology .content .image {
    width: 100%;
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        width: 4em;
    }
}

.technology .content .row-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.technology .content .row-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}


@media screen and (max-width:940px) {
    .technology .container {
        grid-template-columns: 1fr;
    }

    .technology .container {
        width: 100%;
    }
    
}